<mat-grid-list class="home" cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <div>
      <p>Patient ID :{{ id }}</p>
      <p>Name :{{ patient.patientName }}</p>
      <p>Location :{{ patient.patientLocation }}</p>
      <p>Contact :{{ patient.patientContact }}</p>
      <p>Age :{{ patient.patientAge }}</p>
      <p *ngIf="patient.patientSex == 0">Sex : Male</p>
      <p *ngIf="patient.patientSex == 1">Sex : Female</p>
      <p *ngIf="patient.patientSex == 2">Sex : Other</p>
      <p>BloodGroup :{{ patient.patientBloodGroup }}</p>
      <p>Total Reports :{{ patient.patientReportList }}</p>
      <p>pubKey :{{ patient.pubKey }}</p>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
      <button
        mat-raised-button
        color="primary"
        routerLink="/Patient/View-Reports"
      >
        View Reports
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
