<mat-grid-list class="home" cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <table class="fullwidth" cellspacing="25">
      <tr>
        <td>
          <mat-form-field class="fullwidth">
            <input
              matInput
              type="number"
              placeholder="Patient ID"
              id="patientID"
              [(ngModel)]="id"
              name="patientID"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <button
              color="primary"
              value="submit"
              (click)="search()"
              mat-raised-button
            >
              Patient Search
            </button>
          </p>
        </td>
      </tr>
    </table>
  </mat-grid-tile>

  <mat-grid-tile>
    <table class="fullwidth" cellspacing="25">
      <tr>
        <td>
          <mat-form-field class="fullwidth">
            <input
              matInput
              type="number"
              placeholder="Patient ID"
              id="patientID"
              [(ngModel)]="id"
              name="patientID"
            />
          </mat-form-field>
          <mat-form-field class="fullwidth">
            <input
              matInput
              placeholder="Patient PubKey"
              id="patientkey"
              [(ngModel)]="key"
              name="patientkey"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <button
              color="primary"
              value="submit"
              (click)="gen()"
              mat-raised-button
            >
              Generate Medical Report
            </button>
          </p>
        </td>
      </tr>
    </table>
  </mat-grid-tile>
</mat-grid-list>
