<mat-grid-list class="home" cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <div>
      <h3 style="margin: 40px;">Patient Register</h3>
      <form class="formwidth" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
        <table class="fullwidth" cellspacing="25">
          <tr>
            <td>
              <mat-form-field class="fullwidth">
                <input
                  required
                  matInput
                  placeholder="Patient Name"
                  id="patientName"
                  ngModel
                  name="patientName"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="fullwidth">
                <input
                  required
                  matInput
                  placeholder="Patient Location"
                  id="patientLocation"
                  ngModel
                  name="patientLocation"
                />
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field class="fullwidth">
                <input
                  required
                  matInput
                  placeholder="Patient Contact"
                  id="patientContact"
                  ngModel
                  name="patientContact"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="fullwidth">
                <input
                  matInput
                  required
                  type="number"
                  placeholder="Age"
                  id="patientAge"
                  ngModel
                  name="patientAge"
                />
              </mat-form-field>
            </td>
          </tr>

          <td>
            <mat-form-field class="fullwidth">
              <mat-label>Gender</mat-label>
              <mat-select [(value)]="gender">
                <mat-option value="0">Male</mat-option>
                <mat-option value="1">Female</mat-option>
                <mat-option value="2">Other</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="fullwidth">
              <input
                matInput
                required
                placeholder="Blood Group"
                id="patientBloodGroup"
                ngModel
                name="patientBloodGroup"
              />
            </mat-form-field>
          </td>

          <tr>
            <td></td>
            <td>
              <p>
                <button
                  color="primary"
                  type="submit"
                  value="submit"
                  mat-raised-button
                >
                  Register
                </button>
              </p>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
      <button mat-raised-button color="primary" (click)="login()">
        Login
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
