<app-main-nav>
  <mat-grid-list class="home" cols="4" rowHeight="1:1">
    <mat-grid-tile>
      <div>
        <button mat-raised-button color="primary" routerLink="/HOII">
          HOII
        </button>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <button mat-raised-button color="primary" routerLink="/Hospital">
          Hospital
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <button mat-raised-button color="primary" routerLink="/Doctor">
          Doctor
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <button mat-raised-button color="primary" routerLink="/Patient">
          Patient
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</app-main-nav>
