<!-- <mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter"
  />
</mat-form-field> -->
<div class="view">
  <button
    style="margin-left: 30%;"
    color="primary"
    mat-raised-button
    routerLink="/Patient"
  >
    Back
  </button>
  <div *ngFor="let data of dataSource" class="report">
    <p>Id : {{ data.reportId }}</p>
    <p>Hospital Id : {{ data.hospitalId }}</p>
    <p>Doctor Id : {{ data.doctorId }}</p>
    <p>Prescription : {{ data.prescription }}</p>
    <p>ReportedTime : {{ data.reportedTime }}</p>
    <p>AllowedTime : {{ data.allowedTime }}</p>
    <p>Status : {{ data.status }}</p>
    <mat-form-field class="fullwidth">
      <input
        matInput
        type="number"
        placeholder="Rate Your Doctor 1-10"
        id="patientID"
        [(ngModel)]="rating"
        name="patientID"
      />
    </mat-form-field>
    <button
      color="primary"
      value="submit"
      (click)="Ratereport(data.reportId)"
      mat-raised-button
    >
      Rate Doctor
    </button>
  </div>
</div>
