<h3 style="margin: 40px;">Address Form</h3>
<form class="formwidth" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <table class="fullwidth" cellspacing="25">
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input
            required
            matInput
            placeholder="Doctor Name"
            id="doctorName"
            ngModel
            name="doctorName"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullwidth">
          <input
            required
            matInput
            placeholder="Doctor Location"
            id="doctorLocation"
            ngModel
            name="doctorLocation"
          />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="fullwidth" cellspacing="25">
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input
            required
            matInput
            placeholder="Doctor Contact"
            id="doctorContact"
            ngModel
            name="doctorContact"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullwidth">
          <input
            matInput
            required
            placeholder="Public Address"
            id="pubKey"
            ngModel
            name="pubKey"
          />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="fullwidth" cellspacing="25">
    <tr>
      <td></td>
      <td>
        <p>
          <button
            color="primary"
            type="submit"
            value="submit"
            mat-raised-button
          >
            Submit
          </button>
        </p>
      </td>
      <td>
        <p>
          <button color="primary" mat-raised-button routerLink="/Hospital">
            Back
          </button>
        </p>
      </td>
    </tr>
  </table>
</form>
