<h3 style="margin: 40px;">Address Form</h3>
<form class="formwidth" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <table class="fullwidth" cellspacing="25">
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input
            required
            matInput
            placeholder="Hospital Name"
            id="hospitalName"
            ngModel
            name="hospitalName"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullwidth">
          <input
            required
            matInput
            placeholder="Hospital Location"
            id="hospitalLocation"
            ngModel
            name="hospitalLocation"
          />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="fullwidth" cellspacing="25">
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input
            required
            matInput
            placeholder="Hospital Contact"
            id="hospitalContact"
            ngModel
            name="hospitalContact"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullwidth">
          <input
            matInput
            required
            placeholder="Public Address"
            id="pubKey"
            ngModel
            name="pubKey"
          />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="fullwidth" cellspacing="25">
    <tr>
      <td></td>
      <td>
        <p>
          <button
            color="primary"
            type="submit"
            value="submit"
            mat-raised-button
          >
            Submit
          </button>
        </p>
      </td>
      <td>
        <p>
          <button color="primary" mat-raised-button routerLink="/HOII">
            Back
          </button>
        </p>
      </td>
    </tr>
  </table>
</form>
