<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter"
  />
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container matColumnDef="hospitalId">
    <th mat-header-cell *matHeaderCellDef>No</th>
    <td mat-cell *matCellDef="let element">{{ element.hospitalId }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="hospitalName">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.hospitalName }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="hospitalLocation">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td mat-cell *matCellDef="let element">{{ element.hospitalLocation }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="hospitalContact">
    <th mat-header-cell *matHeaderCellDef>Contact</th>
    <td mat-cell *matCellDef="let element">{{ element.hospitalContact }}</td>
  </ng-container>

  <ng-container matColumnDef="hospitalReputation">
    <th mat-header-cell *matHeaderCellDef>Reputation</th>
    <td mat-cell *matCellDef="let element">{{ element.hospitalReputation }}</td>
  </ng-container>
  <ng-container matColumnDef="pubKey">
    <th mat-header-cell *matHeaderCellDef>Public Key</th>
    <td mat-cell *matCellDef="let element">{{ element.pubKey }}</td>
  </ng-container>
  <ng-container matColumnDef="remove">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        style="cursor: pointer;"
        color="primary"
        (click)="removeHospital(element.hospitalId)"
      >
        delete
      </mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button
  style="margin-left: 30%;"
  color="primary"
  mat-raised-button
  routerLink="/HOII"
>
  Back
</button>
