<h3 style="margin: 40px;">Patient Search</h3>
<button
  style="margin-left: 30%;"
  color="primary"
  mat-raised-button
  routerLink="/Doctor"
>
  Back
</button>
<div class="view">
  <div>
    <p>Patient ID :{{ id }}</p>
    <p>Name :{{ patient.patientName }}</p>
    <p>Location :{{ patient.patientLocation }}</p>
    <p>Contact :{{ patient.patientContact }}</p>
    <p>Age :{{ patient.patientAge }}</p>
    <p *ngIf="patient.patientSex == 0">Sex : Male</p>
    <p *ngIf="patient.patientSex == 1">Sex : Female</p>
    <p *ngIf="patient.patientSex == 2">Sex : Other</p>
    <p>BloodGroup :{{ patient.patientBloodGroup }}</p>
    <p>Total Reports :{{ patient.patientReportList }}</p>
    <p>pubKey :{{ patient.pubKey }}</p>
  </div>
  <h1>Reports</h1>
  <div *ngFor="let data of dataSource" class="report">
    <p>Id : {{ data.reportId }}</p>
    <p>Hospital Id : {{ data.hospitalId }}</p>
    <p>Doctor Id : {{ data.doctorId }}</p>
    <p>Prescription : {{ data.prescription }}</p>
    <p>ReportedTime : {{ data.reportedTime }}</p>
    <p>AllowedTime : {{ data.allowedTime }}</p>
    <p>Status : {{ data.status }}</p>
  </div>
</div>
