<h3 style="margin: 40px;">Address Form</h3>
<form class="formwidth" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <table class="fullwidth" cellspacing="25">
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input
            required
            matInput
            placeholder="Prescription"
            id="prescription"
            ngModel
            name="prescription"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullwidth">
          <input
            required
            matInput
            type="number"
            placeholder="Allowed Time"
            id="allowedTime"
            ngModel
            name="allowedTime"
          />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="fullwidth" cellspacing="25">
    <tr>
      <td></td>
      <td>
        <p>
          <button
            color="primary"
            type="submit"
            value="submit"
            mat-raised-button
          >
            Submit
          </button>
        </p>
      </td>
      <td>
        <p>
          <button color="primary" mat-raised-button routerLink="/Doctor">
            Back
          </button>
        </p>
      </td>
    </tr>
  </table>
</form>
