<mat-grid-list class="home" cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <div>
      <button
        mat-raised-button
        color="primary"
        routerLink="/Hospital/Add-Doctor"
      >
        Add Doctor
      </button>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
      <button
        mat-raised-button
        color="primary"
        routerLink="/Hospital/List-Doctor"
      >
        View Doctors
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
