<mat-grid-list class="home" cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <div>
      <button mat-raised-button color="primary" routerLink="/HOII/Add-Hospital">
        Add Hospital
      </button>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
      <button
        mat-raised-button
        color="primary"
        routerLink="/HOII/List-Hospital"
      >
        View Hospitals
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
